@charset "ISO-8859-1";

.category-button {
	width: 200px;
	height: 100px;
	margin: 10px;
	background-color: #144367;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.category-button:hover {
	background-color: #ff5252;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
	align-items: center;
	flex-wrap: wrap;
	flex-wrap: wrap;
}