@charset "ISO-8859-1";

.logo-img {
	max-width: 250px; /* Set the maximum width for the logo image */
}

/* category navbar */
.navbar-dropdown {
	display: none; /* Hide the dropdown by default */
	position: absolute; /* Position the dropdown absolutely */
	background-color: #e0e0e0; /* Add white background color */
	z-index: 1;
}

.navbar-item:hover .navbar-dropdown {
	display: block; /* Show the dropdown on hover */
}

.navbar-dropdown-list {
	list-style-type: none; /* Remove the bullet points */
	padding: 0; /* Remove default padding */
}

.navbar-dropdown-list a {
	display: block; /* Make each option a block element */
	padding: 8px 16px; /* Add padding for better spacing */
	text-decoration: none; /* Remove underline */
	color: #333; /* Set the text color */
}

.navbar-dropdown-list a:hover {
	background-color: #f5f5f5; /* Add background color on hover */
}

/* space out the headings */
.navbar-nav .nav-item {
	margin-right: 10px;
	/* Adjust the margin value to create spacing between options */
}

.navbar-item.has-dropdown .navbar-dropdown {
	position: absolute;
	display: none; /* Hide the dropdown by default */
}

.navbar-item.has-dropdown:hover .navbar-dropdown {
	display: block; /* Show the dropdown on hover */
}

/* change navbar dropdown color */

/* HAMBURGER LOGIN MENU */